 <!--Clients-->
 <section id="clients" class="scrollto clearfix">
    <div class="row clearfix">

        <div class="col-3">

            <div class="section-heading">
                <h3>{{client.title}}</h3>
                <h2 class="section-title">{{client.description}}</h2>
                <p class="section-subtitle">{{client.detail}}</p>
            </div>

        </div>
        
        <div class="col-2-3">
        @for (company of client.companyBlocks; track company) {
            <a href="#" class="col-3">
                <img src="{{company.Image}}" alt="{{company.name}}"/>
                <div class="client-overlay"><span>{{company.name}}</span></div>
            </a>
        }
            

        </div>

    </div>
</section>
<!--End of Clients-->
