<header id="banner" class="scrollto clearfix" data-enllax-ratio=".5">
  
    <!--Banner Content-->
    <div id="banner-content" class="row clearfix">
  
        <div class="col-38">
  
            <div class="section-heading">
                <h1>A FREE AND SIMPLE LANDING PAGE</h1>
                <h2>Namari is a free landing page template you can use for your projects. It is free to use for your
                    personal and commercial projects, enjoy!</h2>
            </div>
  
            <!--Call to Action-->
            <a href="#" class="button">START CREATING TODAY</a>
            <!--End Call to Action-->
  
        </div>
  
    </div><!--End of Row-->
  </header>
  