<!--Testimonials-->
<aside id="testimonials" class="scrollto text-center" data-enllax-ratio=".2">

    <div class="row clearfix">

        <div class="section-heading">
            <h3>{{testimonials?.data?.title}}</h3>
            <h2 class="section-title">{{testimonials?.data?.description}}</h2>
        </div>
        @for (feedback of testimonials?.data?.feedbackBlock; track feedback) {
        <!--User Testimonial-->
        <blockquote class="col-3 testimonial classic">
            <img src="{{feedback.userimage}}" alt="User"/>
            <q>{{feedback.comments}}</q>
            <footer>{{feedback.name}} - Happy Customer</footer>
        </blockquote>
        <!-- End of Testimonial-->
    }

    </div>

</aside>
<!--End of Testimonials-->